<form #formulaireNote="ngForm" (ngSubmit)="gererSoumission(formulaireNote)" [ngStyle]="{'width.px': 539}">
    <div class="row g-3 position-relative"> <button type="button" class="btn btn-sm btn-icon-keep pin-icon"
            data-bs-toggle="tooltip" title="Épingler la note" (click)="toggleEpingler()"> 
          <!-- [ngClass]="noteAEditer?.epingler ? 'bi-pin-fill' : 'bi-pin'" -->  <i class="bi bi-pin-fill"></i> </button>

        <div class="col-12 mb-3">
            <label for="titre" class="form-label visually-hidden">Titre</label>
            <input type="text" name="titre" id="titre" [(ngModel)]="titre"
                class="form-control form-control-plaintext fs-4 fw-bold custom-keep-input"
                [class.is-invalid]="champTitre.invalid && (champTitre.dirty || champTitre.touched)" required
                placeholder="Titre" #champTitre="ngModel" />
            <div *ngIf="champTitre.invalid && (champTitre.dirty || champTitre.touched)"
                class="invalid-feedback d-block">
                <div *ngIf="champTitre.errors?.['required']">
                    Le titre est requis.
                </div>
            </div>
        </div>

        <div class="col-12 mb-3">
            <label for="contenu" class="form-label visually-hidden">Contenu</label>
            <textarea name="contenu" id="contenu" [(ngModel)]="contenu" (ngModelChange)="onContenuChange($event)"
                class="form-control form-control-plaintext custom-keep-input" rows="3"
                placeholder="Prenez une note..."></textarea>
        </div>

        <div class="col-12 d-flex justify-content-between align-items-center flex-wrap gap-2">
            <div class="d-flex align-items-center gap-2">
                <button type="button" class="btn btn-sm btn-icon-keep" data-bs-toggle="tooltip" title="Rappel"
                    (click)="toggleRappel()">
                    <i class="bi bi-bell-fill"></i> 
                </button>
                <div *ngIf="showRappel" class="d-flex align-items-center gap-2">
                    <label for="datePicker" class="visually-hidden">Sélectionner une date</label>
                    <input type="datetime-local" [(ngModel)]="inputDate" min="{{ today }}" title="Sélectionner une date"/>
                    <button (click)="validerRappel()">Valider</button>
                </div>
                <div *ngIf="rappelleDate">
                    ⏰ Rappel programmé : {{ rappelleDate | date:'dd/MM/yyyy à HH:mm' }}
                </div>

                <label for="couleur" class="btn btn-sm btn-icon-keep mb-0" data-bs-toggle="tooltip"
                    title="Options de couleur">
                    <i class="bi bi-palette-fill"></i>
                    <input title="Sélectionner une couleur" type="color" id="couleur" name="couleur"
                        [(ngModel)]="couleur" class="custom-keep-color-picker">
                </label>
                <button type="button" class="btn btn-sm btn-icon-keep" data-bs-toggle="tooltip" title="Collaborateur"
                    (click)="ajouterCollaborateur()">
                    <i class="bi bi-person-plus-fill"></i>
                </button>           

               

    
            </div>

            <div>
                <button type="submit"
                    [disabled]="!formulaireNote.valid && (titre.trim() === '' && contenu.trim() === '')"
                    class="btn btn-link custom-keep-close-button">
                    Fermer
                </button>
            </div>
        </div>
    </div>
</form>